<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--护士排班excel表格生成地址-->
    <add key="ScheduleExcelFolder" value="D:\"/>
    <!--护士排班excel表格模板地址-->
    <add key="ScheduleExcelTempFilePath" value=""/>
    <add key="ScheduleExcelTempFileName"  value="NurseScheduleTemplate.xlsx"/>

    <!--程序
    <add key="AppDataFolder" value="E:\projects\ScheduleOrder\ScheduleOrder\bin\Debug\data"/>-->


    <add key="JobsRootNode" value="Jobs"/>
    <add key="NurserRootNode" value="Nursers"/>
    <add key="ConfigurationFolderName" value="data"/>
  </appSettings>
</configuration>