#ignire data folder
data
ScheduleOrder/obj
ScheduleOrder/bin
ScheduleOrder/obj/x86/Debug
ScheduleOrder/obj/x86/Debug/ScheduleOrder.csproj.FileListAbsolute.txt
ScheduleOrder/obj/x86/Debug/ScheduleOrder.csproj.GenerateResource.Cache
